@font-face {
    font-family: "kotraSongeulssi";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraSongeulssi/kotraSongeulssi.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraSongeulssi/kotraSongeulssi.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraSongeulssi/kotraSongeulssi.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraSongeulssi/kotraSongeulssi.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraSongeulssi/kotraSongeulssi.ttf") format("truetype");
    font-display: swap;
}
.kotraSongeulssi {
    font-family: "kotraSongeulssi";
}